page-home {
    .accordion-list {
        background: #fcb0b0;
        height: 100%;
    }
    .section {
        background: #ffffff;
        color:#000000;
        margin-bottom: 4px;
    }
    .section-active {
        background:#000000;
        color: #ffffff;
    }
    .child-item {
        background: #f0efeffd;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: .5px;
    }
    
}